.wrapper
    display: flex
    flex-direction: column
    gap: 15px
    align-items: center
    .form
        max-width: 500px
        width: 100%
        display: flex 
        flex-direction: column
        gap: 8px
        .input
            padding: 15px
            font-size: 16px
            outline: none
        .btn
            padding: 15px
            background-color: #28d2d0
            color: #fff
            text-transform: uppercase
            border: none
            cursor: pointer
            font-size: 18px
            transition: all 0.3s ease
            &:hover
                background-color: #23a9a7
        .error
            color: #fff
            text-align: center
            border: 1px solid red
            padding: 5px
        .valid
            border: 2px solid green
        .invalid
            border: 2px solid red
            color: grey
